body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background: url(images/bg.jpg);
    background-size: cover;
}

.navbar{
    text-align: center;
    padding: 20px;
}
.navbar a{
    text-decoration: none;
    color:blue;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 80px;
    border: 2px solid transparent;
    padding: 10px;
}
.navbar a:hover{
    color: black;
    
}
.head-content{
    text-align: center;
}
.name{
    font-size: 50px;
    color: #000;
}
.desc{
    font-size: 30px;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    color:wheat;
	font-family: 'Times New Roman', Times, serif;
}
.about-section h2
{
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
	text-decoration: underline;

}
.about-section p
{
	font-size: 30px;
	font-family: roboto;
	width: 1000px;
	text-align: center;
	margin: 0 auto;
	border: 2px ;
	padding: 15px;
}
.skills-section h2{
    text-decoration: underline;
}
.skills-section
{
	
	font-size: 20px;
	font-family: sans-serif;
	padding-top: 3px;
    padding-left: 50px;

} 
.education-section h2{
    text-decoration: underline;
}
.education-section
{
	
	font-size: 20px;
	font-family: sans-serif;
	padding-top: 3px;
    padding-left: 50px;

} 

.experience-section h2{
    text-decoration: underline;
}
.experience-section{
    font-size: 20px;
	font-family: sans-serif;
	padding-top: 3px;
    padding-left: 50px;

}
.contact-section{
    padding: 50px; 
}
.contact-section span
{
	font-size: 30px;
	font-weight: bold;
	
}
input
{
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
	border: 0;
	color: #fff;
}
textarea
{
	border: 0;
	border-radius: 10px;
	height: 100px;
	width: 500px;
	color: #fff;
	text-align: center;
	font-size: 20px;
}
.inp-name, .inp-mail
{
	height: 50px;
	width: 500px;
}

.inp-msg
{
	height: 100px;
	width: 500px;
}

.inp-btn
{
	padding: 10px;
	background: #4b8cfb;
	font-size: 20px;
}

.inp-btn:hover
{
	background: #000;
}

.copyright
{
	background: gray;
	font-size: 20px;
	height: 50px;
	padding: 10px;
	text-align: center;
	color: #fff;
}
